nav{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;

    width: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
body{
    background: #EDF5F6;
    font-family: 'Montserrat', sans-serif;
}
.all{
    margin-top: 15%;
    margin-left: 25%;
    margin-right: 25%;
}

.slidecontainer {
    width: 100%;
  }
  
  .slider {
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: #9EC5CD;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider::-moz-range-thumb {
    width: 48px;
    height: 48px;
    border: 0;
    background: url('lock.png');
    cursor: pointer;
  }
.buttons{
    margin: 10%;
    text-align: center;
    flex-direction: row;
}
label{
    margin: 10px;
}
.value{
    text-align: center;
}
.output{
    margin-left: auto;
    margin-right: auto;
    border-bottom: 2px solid #9EC5CD;
    font-size: 18px;
    width:70%;
    text-align: center;
}
.copysvg{
    float: right;
    cursor: pointer;
}
.rerolsvg{
    float: left;
    cursor: pointer;
}